// color 
$primary-color:#000;
$color-ccc:#ccc;
$color-fff:#fff;
$color-f44336:#f44;
$color-757575:#757575;
$color-ddd:#ddd;
$color-f1f1f1:#f1f1f1;
$color-009688:#009688;
$color-2196F3:#2196F3;

$fs-15:15px;